/* Contact page mobile styling */

.contact {
  display: flex;
  height: 68vh;
  width: 100%;
  justify-content: center;
}

.contact .contact-form {
  width: 100%;
  height: 60vh;
  margin: 4vw;
  text-align: left;
}

.contact .contact-image {
  display: none;
}

.contact .contact-image img {
  display: none;
}

/* Contact page desktop styling */

@media screen and (min-width: 75em) {

     .contact {
      height: 83vh;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 5vh;
    }

    .contact-form {
      width: 50%;
      height: 100%;
      text-align: left;
    }

    .contact .contact-image {
      display: flex;
      justify-content: center;
      height: 100%;
      width: 50%;
      padding: 2vw;
    }

    .contact .contact-image img {
      max-width: 46vw;
      max-height: 60vh;
      display: flex;
    }
}
