/* Artists styling mobile */

.artist-select {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.artist-select .artist-hero {
  display: none;
}

.artist-select .artist-carousel {
  display: none;
}

.artist-select .leftArrow {
  display: none;
}

.artist-select .rightArrow {
  display: none;
}

.artist-select .artist-page {
  height: 100%;
}

.artist-select .artist-page .artist-showcase-fullsize {
  display: none;
}

.artist-select .artist-page .artist-showcase-mobile {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 2vh;
}

.artist-select .artist-page .artist-showcase-mobile .artist-photo {
  width: 100%;
}

.artist-select .artist-page .artist-showcase-mobile .artist-photo img {
  max-width: 85vw;
  max-height: 100vh;
}

.artist-select .artist-page .artist-showcase-mobile .artist-statement {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.artist-select .artist-grid-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 5vw;
  padding-right: 5vw;
}

.artist-select .artist-grid-mobile #artist-mobile-grid {
  display: flex;
  justify-content: center;
}

.artist-select .artist-grid-mobile .artist-card {
  height: 22vh;
  width: 46vw;
}

.artist-select .artist-grid-mobile .artist-card img {
  height: 18vh;
  width: 42vw;
  opacity: 95%;
  box-shadow:0px 0px 7px #343434;
}

.artist-select .artist-grid-mobile .artist-card .artist-card-name {
  font-weight: 400;
  font-size: 1.2em;
}

#detail-title {
  font-style: italic;
  font-size: 1.5em;
}

#detail-materials {
  font-size: 1.1em;
}

.artist-select .artist-hero #artistWorkDetails {
  background-color: #343434;
}

@media screen and (min-width: 75em) {

     .artist-select {
       display: flex;
       flex-direction: column;
       height: 84vh;
       padding-bottom: 2vh;
       padding-top: 1vh;
     }

     .artist-select .artist-hero {
       height: 55vh;
       width: 100%;
       display: flex;
     }

     .artist-select .artist-page .artist-hero .artist-hero-image {
       width: 60%;
     }

     .artist-select .artist-page .artist-hero #artistHero {
       max-height: 55vh;
       max-width: auto;
     }

     .artist-label {
       height: 12vh;
       width: 17vw;
       word-wrap: break-word;
       text-align: left;
       padding: 0.8vw;
       background-color: #343434;
       float: left;
       position: absolute;
       right: 10vw;
       top: 4vh;
       z-index: 1000;
       box-shadow: 0 1vh 2vh rgba(0,0,0,1), 0 1vh 2vh rgba(0,0,0,1);
     }

     .artist-label p {
       margin: 0;
       color: white;
       font-family: inherit;
     }

     #selected-artist {
       font-size: 1.05em;
     }

     #selected-title {
       font-size: 1.25em;
       font-style: italic;
       font-weight: 700;
     }

     #selected-materials {
       font-size: 0.75em;
     }

     .artist-select .artist-hero #artistHero:hover {
       transform: scale(.95);
       transition: transform .3s ease;
       box-shadow: 0px 0px 7px #343434;
       cursor: pointer;
     }

     .artist-carousel .leftArrow {
       display: flex;
       align-items: center;
       justify-content: center;
       width: 5vw;
     }

     .artist-carousel .rightArrow {
       display: flex;
       align-items: center;
       justify-content: center;
       width: 5vw;
     }

     .artist-hero .rightArrow .fa-icon {
       visibility: hidden;
     }

     .artist-hero .leftArrow .fa-icon {
       visibility: hidden;
     }

          .artist-select .artist-page .artist-hero .artist-showcase-fullsize {
            height: 55vh;
            width: 40%;
            display: block;
            margin-left: 5vw;
          }

          .artist-select .artist-page .artist-hero .artist-showcase-fullsize .artist-statement .artist-photo {
            max-width: 20vw;
            max-height: 35vh;
            float: right;
            margin: 1vw;
          }

          .artist-select .artist-page .artist-hero .artist-showcase-fullsize .artist-statement .artist-text {
            height: 100%;
            padding: 1vw;
            white-space: pre-line;
          }

          .artist-select .artist-page .artist-hero .artist-showcase-fullsize .artist-statement {
            height: 100%;
            text-align: left;
          }

          .artist-select .artist-page .artist-showcase-fullsize .artist-statement .artist-photo img {
            max-width: 20vw;
            max-height: 40vh;
          }

     .artist-carousel .rightArrow .fa-icon {
       visibility: hidden;
     }

     .artist-carousel .leftArrow .fa-icon {
       visibility: hidden;
     }

     .artist-carousel:hover .rightArrow .fa-icon {
       transition: 0.3;
       visibility: visible;
       opacity: 70%;
     }

     .artist-carousel:hover .leftArrow .fa-icon{
       transition: 0.3;
       visibility: visible;
       opacity: 70%;
     }

    .artist-hero:hover .leftArrow .fa-icon {
      visibility: visible;
      cursor: pointer;
      opacity: 70%;
    }

    .artist-hero:hover .rightArrow .fa-icon {
      visibility: visible;
      cursor: pointer;
      opacity: 70%;
    }

     .artist-select .artist-carousel {
       height: 22vh;
       width: 100%;
       display: flex;
     }

     .cssExperimental {
       width: 100%;
       display: flex;
       flex-direction: row;
       justify-content: space-around;
     }

     .artistCarousel-enter {
       opacity: 0.01;
       width: 0vw;
     }

     .artist-select .artist-page .artist-showcase-mobile {
       display: none;
     }

     .artist-select .artist-page .artist-grid-mobile {
       display: none;
     }

     .artistCarousel-enter.artistCarousel-enter-active {
       opacity: 1;
       width: 8vw;
       transition: 300ms;
     }

     .artistCarousel-leave {
       opacity: 1;
       width: 8vw;
     }

     .artistCarousel-leave.artistCarousel-leave-active {
       opacity: 0.01;
       width: 0vw;
       transition: 300ms;
     }
}
