/* Artists styling mobile */

.artist-select {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.artist-select .artist-hero {
  display: none;
}

.artist-select .artist-carousel {
  display: none;
}

.artist-select .leftArrow {
  display: none;
}

.artist-select .rightArrow {
  display: none;
}

.artist-select .artist-page {
  height: 100%;
}

.artist-select .artist-page .artist-showcase-fullsize {
  display: none;
}

.artist-select .artist-page .artist-showcase-mobile {
  width: 100%;
  display: flex;
  justify-content: center;
}

.artist-select .artist-page .artist-showcase-mobile .artist-photo {
  width: 35%;
}

.artist-select .artist-page .artist-showcase-mobile .artist-photo img {
  max-width: 30vw;
  max-height: 45vh;
}

.artist-select .artist-page .artist-showcase-mobile .artist-statement {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.artist-select .artist-grid-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artist-select .artist-grid-mobile #artist-mobile-grid {
  display: flex;
  justify-content: center;
}

.artist-select .artist-grid-mobile .artist-card {
  height: 22vh;
  width: 46vw;
}

.artist-select .artist-grid-mobile .artist-card img {
  height: 18vh;
  width: 42vw;
  opacity: 50%;
}

.artist-select .artist-grid-mobile .artist-card .artist-card:hover {
  transition: 0.3;
  cursor: pointer;
  box-shadow: 0 1vh 2vh rgba(0,0,0,1), 0 1vh 2vh rgba(0,0,0,1);
  opacity: 80%;
}

.artist-select .artist-grid-mobile .artist-card .artist-card:active {
  transform: scale(.8);
  transition: transform .5s ease;
  opacity: 100%;
}

.artist-select .artist-grid-mobile .artist-card .artist-card-name {
  font-weight: 400;
  font-size: 1.2em;
}

@media screen and (min-width: 75em) {

     .artist-select {
       display: flex;
       flex-direction: column;
       height: 152vh;
       padding-bottom: 2vh;
       padding-top: 1vh;
     }

     .artist-select .artist-hero {
       height: 75vh;
       width: 100%;
       display: flex;
       justify-content: space-around;
     }

     .artist-select .artist-hero .image-wrapper {
       height: 73vh;
       max-width: 70%;
     }

     .artist-hero .leftArrow {
       height: 100%;
       display: flex;
       width: 15%;
       align-items: center;
       justify-content: center;
     }

     .artist-hero .rightArrow {
       height: 100%;
       display: flex;
       width: 15%;
       align-items: center;
       justify-content: center;
     }

     .artist-carousel .leftArrow {
       display: flex;
       align-items: center;
       justify-content: center;
       width: 5vw;
     }

     .artist-carousel .rightArrow {
       display: flex;
       align-items: center;
       justify-content: center;
       width: 5vw;
     }

     .artist-hero .rightArrow .fa-icon {
       visibility: hidden;
     }

     .artist-hero .leftArrow .fa-icon {
       visibility: hidden;
     }

     .artist-carousel .rightArrow .fa-icon {
       visibility: hidden;
     }

     .artist-carousel .leftArrow .fa-icon {
       visibility: hidden;
     }

     .artist-carousel:hover .rightArrow .fa-icon {
       transition: 0.3;
       visibility: visible;
       opacity: 70%;
     }

     .artist-carousel:hover .leftArrow .fa-icon{
       transition: 0.3;
       visibility: visible;
       opacity: 70%;
     }

    .artist-hero:hover .leftArrow .fa-icon {
      visibility: visible;
      cursor: pointer;
      opacity: 70%;
    }

    .artist-hero:hover .rightArrow .fa-icon {
      visibility: visible;
      cursor: pointer;
      opacity: 70%;
    }

     .artist-select .artist-carousel {
       height: 24vh;
       width: 100%;
       display: flex;
          border: 3px dotted orange;
     }

     .cssExperimental {
       width: 100%;
       display: flex;
       flex-direction: row;
       justify-content: space-around;
     }

     .artistCarousel-enter {
       opacity: 0.01;
       width: 0vw;
     }

     .artist-select .artist-page .artist-showcase-mobile {
       display: none;
     }

     .artist-select .artist-page .artist-grid-mobile {
       display: none;
     }

     .artistCarousel-enter.artistCarousel-enter-active {
       opacity: 1;
       width: 8vw;
       transition: 300ms;
     }

     .artistCarousel-leave {
       opacity: 1;
       width: 8vw;
     }

     .artistCarousel-leave.artistCarousel-leave-active {
       opacity: 0.01;
       width: 0vw;
       transition: 300ms;
     }

     .artist-select .artist-page .artist-showcase-fullsize {
       height: 50vh;
       width: 100%;
       display: flex;
       justify-content: center;
       padding-top: 2vh;
          border: 3px dotted blue;
     }

     .artist-select .artist-page .artist-showcase-fullsize .artist-photo {
       width: 35%;
     }

     .artist-select .artist-page .artist-showcase-fullsize .artist-statement {
       width: 45%;
       height: 50vh;
       display: flex;
       flex-direction: column;
       text-align: left;
     }

     .artist-select .artist-page .artist-showcase-fullsize .artist-photo img {
       max-width: 30vw;
       max-height: 45vh;
     }

     .artist-select .artist-hero .image-wrapper #artistWorkDetails {
       color: #343434;
     }
}
