/* About page styling mobile */

.about {
  display: flex;
  height: 100%;
  padding: 5vw;
  text-align: left;
}

.about .about-fullsize {
  display: none;
}

.about .about-text-mobile {
  float: none;
}

.about .about-text-mobile h1 {
  text-align: center;
}

/* About page styling desktop */

@media screen and (min-width: 75em) {
  .about {
    width: 100%;
    height: 83vh;
    display: flex;
    padding: 2vh;
  }

  .about-text-mobile {
    display: none;
  }

  .about .about-fullsize {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .about-fullsize .about-text {
    max-width: 50%;
    font-size: 1.2em;
    margin-left: 5vw;
    height: 70vh;
  }

  .about-fullsize .about-image {
    max-width: 50%;
    height: 70vh;
  }

  .about .about-text h1 {
    text-align: left;
  }
}
