/* Artists page main styling full width */
.artistLinks {
  color: #343434;
}

.home {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.home-hero {
  display: none;
}

.home-carousel {
  display: none;
}

.home .leftArrow {
  display: none;
}

.home .rightArrow {
  display: none;
}

.home .home-grid-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home .home-grid-mobile #home-mobile-grid {
  display: flex;
  justify-content: center;
}

.home .home-grid-mobile .artist-card {
  height: 22vh;
  width: 46vw;
}

.home .home-grid-mobile .artist-card img {
  height: 18vh;
  width: 42vw;
  opacity: 95%;
  box-shadow:0px 0px 7px #343434;
}

.home .home-grid-mobile .artist-card .artist-card-name {
  font-weight: 500;
  font-size: 1.2em;
}

@media screen and (min-width: 75em) {

     .home {
       display: flex;
       flex-direction: column;
       align-items: center;
       height: 84vh;
       padding-bottom: 1vh;
       padding-top: 1vh;
     }

     .home-hero {
       height: 59vh;
       width: 100%;
       display: flex;
       justify-content: space-around;
     }

     .home-hero #homeHero {
       max-height: 58vh;
       max-width: 120vw;
     }

      .home-hero #homeHero:hover {
        transform: scale(.95);
        transition: transform .5s ease;
        opacity: 90%;
      }

     .home-hero .leftArrow {
       height: 100%;
       display: flex;
       width: 15%;
       align-items: center;
       justify-content: center;
     }

     .home-hero .rightArrow {
       height: 100%;
       display: flex;
       width: 15%;
       align-items: center;
       justify-content: center;
     }

     .home-hero .rightArrow .fa-icon {
       visibility: hidden;
     }

     .home-hero .leftArrow .fa-icon {
       visibility: hidden;
     }

     .home-carousel .leftArrow {
       display: flex;
       align-items: center;
       justify-content: center;
       width: 5vw;
     }

     .home-carousel .rightArrow {
       display: flex;
       align-items: center;
       justify-content: center;
       width: 5vw;
     }

     .home-carousel .rightArrow .fa-icon {
       visibility: hidden;
     }

     .home-carousel .leftArrow .fa-icon {
       visibility: hidden;
     }

     .home-carousel:hover .rightArrow .fa-icon {
       transition: 0.3;
       visibility: visible;
       opacity: 70%;
     }

     .home-carousel:hover .leftArrow .fa-icon{
       transition: 0.3;
       visibility: visible;
       opacity: 70%;
     }

    .home-hero:hover .leftArrow .fa-icon {
      visibility: visible;
      cursor: pointer;
      opacity: 70%;
    }

    .home-hero:hover .rightArrow .fa-icon {
      visibility: visible;
      cursor: pointer;
      opacity: 70%;
    }

     .home .home-carousel {
       height: 23vh;
       width: 100%;
       display: flex;
       overflow: hidden;
     }

     .cssExperimental {
       width: 100%;
       height: 100%;
       display: flex;
       flex-direction: row;
       justify-content: space-around;
       align-items: center;
     }

     .homeCarousel-enter {
       opacity: 0.01;
       width: 0vw;
     }

     .homeCarousel-enter.homeCarousel-enter-active {
       opacity: 1;
       width: 8vw;
       transition: 300ms;
     }

     .homeCarousel-leave {
       opacity: 1;
       width: 8vw;
     }

     .homeCarousel-leave.homeCarousel-leave-active {
       opacity: 0.01;
       width: 0vw;
       transition: 300ms;
     }

     .artist-card {
       height: 20vh;
       width: 10vw;
     }

     .artist-card .artist-card-image {
       height: 18vh;
       width: 9vw;
       opacity: 50%;
     }

     .artist-card .artist-card-image:hover {
       transition: 0.3;
       cursor: pointer;
       box-shadow: 0 1vh 2vh rgba(0,0,0,1), 0 1vh 2vh rgba(0,0,0,1);
       opacity: 95%;
     }

     .artist-card .artist-card-image:active {
       transform: scale(.8);
       transition: transform .5s ease;
       opacity: 100%;
     }

     .artist-card .artist-card-name {
       font-weight: 400;
       font-size: 1.5em;
     }

     .home .home-grid-mobile {
       display: none;
     }
}
