
.App {
  text-align: center;
  background-color: #fff;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.App-content {
  display: flex;
}

/* Header main styling full width */

.App-header {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-header header {
  height: 100px;
  width: 100%;
  top: 0%;
  background-color: #333;
  display: flex;
  flex-direction: column;
}

.App-header header .splashTitle {
  font-family: 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 6vh;
  padding-top: 3vh;
  padding-bottom: 2vh;
}

.App-header header .splashSub {
  font-size: 2.5vh;
  text-transform: uppercase;
}

.App-header ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  padding-right: 3vh;
}

.App-header ul a {
  text-decoration: none;
  padding: 0.5vh;
  color: #343434;
}

.App-header ul a:hover {
  background-color: #343434;
  color: white;
}

.App-header ul .active {
  background-color: #343434;
  color: white;
}

/* Artists page main styling full width */

.artists {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.artist-hero {
  display: none;
}

.artist-carousel {
  display: none;
}

.leftArrow {
  display: none;
}

.rightArrow {
  display: none;
}

.artists .artists-grid-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artists .artists-grid-mobile .artists-card {
  height: 150px;
  width: 150px;
}

/* About page main styling full width */

.about {
  display: flex;
  text-align: left;
}

/* Contact page main styling full width */

.contact {
  display: flex;
}

.contact .contact-form #contact-form-semantic {
  text-align: left;
}

.contact .contact-image {
  display: none;
}

/* Footer main styling full width */
@media screen and (min-width: 70em) {

   .App {
     text-align: center;
     background-color: red;
     width: 100%;
     height: 100%;
     max-height: 1024px;
     font-family: 'Roboto', sans-serif;
     font-weight: 300;
   }

   .App-content {
     max-height: 900px;
     display: flex;
   }

   /* Header main styling full width */

   .App-header {
     display: flex;
     max-height: 100px;
   }

   header {
     height: 100px;
     width: 15%;
     min-width: 90px;
     position: absolute;
     top: 0%;
     left: 0%;
     background-color: #333;
   }

   .splashTitle {
     font-family: 'Helvetica', sans-serif;
     font-weight: 400;
     font-size: 6vh;
   }

   .splashSub {
     font-size: 2.5vh;
     text-transform: uppercase;
   }

   /* Artists page main styling full width */

   .artists {
     height: 100%;
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
   }

   .artist-hero {
     width: 100%;
     display: flex;
     justify-content: space-between;
   }

   .artist-hero #hero {
     max-height: 750px;
     padding-bottom: 40px;
   }

   .artist-carousel {
     max-height: 20vh;
     max-width: 100%;
     display: flex;
     flex-direction: row;
   }

   .leftArrow {
     width: 50px;
     height: 100%;
     display: flex;
     align-items: center;
   }

   .rightArrow {
     width: 50px;
     height: 100%;
     display: flex;
     align-items: center;
   }

   .artists .artists-grid-mobile {
     display: none;
   }

   /* About page main styling full width */

   .about {
     display: flex;
     text-align: left;
   }

   /* Contact page main styling full width */

   .contact {
     display: flex;
   }

   /* Footer main styling full width */
 }
