
.App {
  text-align: center;
  background-color: #fff;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.App-content {
  padding-top: 40px;
  font-family: 'Roboto', sans-serif;
}

/* Header main styling full width */

.App-header {
  min-height: 10%;
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-header ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 5vh;
  width: 85%;
  height: 100%;
}

.App-header a {
  text-decoration: none;
  padding: 1vh;
  margin-left: 8vh;
  font-size: 24px;
  line-height: 28.13px;
  color: #343434;
}

.App-header a:hover {
  background-color: #343434;
  color: white;
}

.App-header .active {
  background-color: #343434;
  color: white;
}

.App-header header {
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: #333;
  width: 15%;
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.splashTitle {
  font-family: 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 6vh;
  line-height: 46px;
  padding: 5px;
}

.splashSub {
  font-size: 2.5vh;
  text-transform: uppercase;
  line-height: 20px;
}

/* Artists page main styling full width */

.artists {
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artist-hero {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.artist-hero #hero {
  max-height: 50vh;
}

.artist-carousel {
  max-height: 20vh;
  max-width: 100%;
  display: flex;
  flex-direction: row;
}

.leftArrow {
  width: 50px;
  height: 100%;
  display: flex;
  align-items: center;
}

.rightArrow {
  width: 50px;
  height: 100%;
  display: flex;
  align-items: center;
}

/* About page main styling full width */

.about {
  display: flex;
  flex-direction: row;
  text-align: left;
  height: 65vh;
  width: 100%;
}

.about-text {
  width: 60%;
  margin-left: 50px;
  padding-right: 50px;
}

.about-image {
  width: 40%;
  margin-left: 50px;
}

/* Contact page main styling full width */

.contact {
  display: flex;
  flex-direction: row;
  height: 65vh;
  width: 100%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  color: #343434;
  text-align: left;
  padding-left: 50px;
}

.contact-image {
  width: 50%;
  padding-left: 50px;
  margin-right: 50px;
}

.contact-image img {
  max-width: 900px;
  height: auto;
}

/* Footer main styling full width */

.App-footer {
  background-color: #343434;
  color: white;
  height: 8vh;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.App-footer footer {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.App-footer .footer-subscribe {
  width: 30%;
  height: 100%;
  padding-left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-footer .footer-subscribe #subscribe-label {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 15px;
}

.App-footer .footer-info {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.App-footer .footer-info a {
  color: white;
}

.App-footer .footer-social {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.fa-icon {
  margin-right: 50px;
}
