
.App {
  text-align: center;
  background-color: #fff;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

/* Header main styling full width */

.App-header {
  min-height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  font-size: calc(10px + 1vmin);
  color: white;
  margin-bottom: 50px;
}

.App-header ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  width: 85%;
  height: 100%;
}

.App-header a {
  text-decoration: none;
  padding: 35px;
  font-size: 24px;
  line-height: 28.13px;
  color: #343434;
}

.App-header header {
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: #333;
  width: 15%;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.splashTitle {
  font-family: 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 6vh;
  line-height: 46px;
  padding: 5px;
}

.splashSub {
  font-size: 2.5vh;
  text-transform: uppercase;
  line-height: 20px;
}

/* About page main styling full width */

.about {
  display: flex;
  flex-direction: row;
  text-align: left;
}

.about-text {
  width: 40%;
  margin: 50px;
}

.about-image {
  width: 40%;
  margin: 50px;
  padding: 20px;
}

.about img {
  max-width: 620px;
  max-height: 372px;
}

/* Contact page main styling full width */

.contact {
  display: flex;
  flex-direction: row;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  color: #343434;
  text-align: left;
  padding-left: 3vmin;
  padding-right: 3vmin;
  font-family: 'Roboto', sans-serif;
}

/* Footer main styling full width */

.App-footer {
  background-color: #343434;
  color: white;
  height: 10vh;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.App-footer footer {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.App-footer .footer-subscribe {
  width: 30%;
  height: 100%;
  padding-left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-footer .footer-subscribe #subscribe-label {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.App-footer .footer-info {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.App-footer .footer-info a {
  color: white;
}

.App-footer .footer-social {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.fa-icon {
  margin-right: 50px;
}
